@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 25px;
}

.App {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
  padding: 25px;
  background-color: #e0e6e6;
}
