.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 100%;
}

.toggle_darkmode {
  display: flex;
  cursor: default;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.sidebar_top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sidebar_menu {
  display: inherit;
  flex-direction: inherit;
  gap: 1rem;
}

.sidebar_menu h2 {
  color: #000;
}

.sidebar_item {
  display: inherit;
  align-items: center;
  gap: 0.5rem;
}